*.class

# Package Files #
*.jar
*.war
*.ear

.idea/

out/

classes/artifacts/

*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

#Vaadin widgetset compiler output.
src/main/webapp/VAADIN/

